.Choose {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid var(--backgroundBtnDark);
  padding: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}