.About {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: auto;
  font-size: 2.5rem;
  min-height: 100vh;
  background: var(--footer);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.return {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
}

.link {
  color: var(--card);
}

.moon {
  --background: #0c0537;
  --header: #e5e5e5;
  --footer: #5d6976;
  --card: #000000;
  --cardBorder: #e5e5e5;
  --svgColor: #fdf4f4;
  --overlay: rgba(0, 0, 0, 0.5);
  --backgroundBtnLight: #0c0537;
  --backgroundBtnDark: #efefef;
  --colorBtnLight: #e5e5e5;
  --skeletonLight: #5d6976;
  --skeletonDark: #3d4f64;
  --pagination: #3d4f64;
}