.About {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: auto;
  font-size: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.return {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
}

.link {
  color: var(--card);
}