.Footer {
  background-color: var(--footer);
  color: var(--card);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.wrapper {
  justify-content: center;
}

.link {
  color: var(--card);
  transition: all 0.3s ease;
  font-size: 3rem;
}

.link:hover {
  text-decoration: underline;
}