.button {
  cursor: pointer;
  color: var(--card);
  padding: 6px 16px;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.button:hover {
  opacity: 0.8;
}

.filled {
  border: none;
  outline: none;
  border-radius: 5px;
}

.outline {
  background: none;
  border-radius: 5px;
}

.outline.normal {
  border: 2px solid var(--backgroundBtnLight);
}

.outline.success {
  border: 2px solid var(--backgroundBtnDark);
}

.outline.error {
  border: 2px solid var(--errorBtn);
}

.filled.normal {
  background: var(--backgroundBtnLight);
  color: var(--colorBtnLight);
}

.filled.success {
  background: var(--backgroundBtnDark);
}

.filled.error {
  background: var(--errorBtn);
}
