.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}