.error {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cardImage {
  border-radius: 20px;
  overflow: hidden;
}

.content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}