.Layout {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--background);
}

.showCatById {
  overflow-y: hidden;
  background: var(--overlay);
  position: relative;
  height: 100vh;
}

.moon {
  --background: #0c0537;
  --header: #e5e5e5;
  --footer: #5d6976;
  --card: #000000;
  --cardBorder: #e5e5e5;
  --svgColor: #fdf4f4;
  --overlay: rgba(0, 0, 0, 0.5);
  --backgroundBtnLight: #0c0537;
  --backgroundBtnDark: #efefef;
  --colorBtnLight: #e5e5e5;
  --skeletonLight: #5d6976;
  --skeletonDark: #3d4f64;
  --pagination: #3d4f64;
}