.select {
  width: 100px;
  background-color: var(--cardBorder);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.select:hover .icon {
  filter: brightness(0) saturate(0) invert(50%) sepia(100%) hue-rotate(100deg);
  opacity: 1;
}

.selected:hover .icon {
  filter: brightness(0) saturate(0) invert(50%) sepia(100%) hue-rotate(200deg);
  opacity: 1;
}

.selected .icon {
  filter: brightness(0) saturate(0) invert(50%) sepia(100%) hue-rotate(0deg);
  opacity: 1;
}

.icon {
  filter: brightness(0) saturate(0) invert(50%) sepia(100%) hue-rotate(0deg);
  opacity: 0.2;
  transition: all 0.3s ease;
}