.select {
  width: 100px;
  background-color: var(--cardBorder);
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: red;
  fill: rgba(0, 0, 0, 0);
  transition: fill 0.3s ease;
  cursor: pointer;
}

.select:hover {
  fill: red;
}

.selected {
  fill: red;
  transition: fill 0.3s ease;
}

.selected:hover {
  fill: rgba(0, 0, 0, 0);
}