button.toggle {
  border-radius: 50%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: black;
  padding: 0;
  height: 50px;
}

.moon {
  background-image: url('../../../shared/assets//icons/moon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.sun {
  background-image: url('../../../shared/assets//icons/sun.svg');
}