.Header {
  background-color: var(--header);
  color: var(--card);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.content {
  width: 100%;
  display: flex;
  gap: 20px;
}

@media (max-width: 450px) {
  .content {
    flex-wrap: wrap;
  }
}