.school {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: var(--header);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo {
  background: url('../../../shared/assets/icons/rss-logo.svg') center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
