:root {
  --blue-100: #0c0537;
  --blue-80: #2c236b;
  --gray-10: #e5e5e5;
  --gray-20: #efefef;
  --gray-30: #fcfcfc;
  --gray-40: #5d6976;
  --gray-70: #3d4f64;
  --gray-80: #535353;
  --black: #000000;
  --white-10: #ffffff;
  --white-95: #fdf4f4;
  --red-50: #dc2626;
  --yellow-50: rgba(255, 201, 79, 1);
  --beige: #decece;
  --overlay-dark: rgba(0, 0, 0, 0.5);
  --overlay-light: rgba(61, 79, 100, 0.5);
}