@import './colors.module.css';

:root {
  --card: var(--white-10);
  --background: var(--gray-30);
  --overlay: var(--overlay-light);
  --backgroundBtnLight: var(--gray-20);
  --colorBtnLight: var(--gray-80);
  --cardShadow: var(--yellow-50);
  --errorBtn: var(--red-50);
  --svgColor: var(--black);
  --header: var(--blue-100);
  --footer: var(--gray-70);
  --cardBorder: var(--gray-10);
  --backgroundBtnDark: var(--gray-70);
  --skeletonLight: var(--white-95);
  --skeletonDark: var(--gray-10);
  --pagination: var(--blue-100);

  --table: 768px;
  --content: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 1.5rem;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: var(--content);
  justify-content: center;
}

path {
  fill: inherit;
  stroke: inherit;
}