:root {
  --background: #FCFCFC;
  --header: #0C0537;
  --footer: #3D4F64;
  --card: #FFFFFF;
  --svgColor: #000000;
  --cardBorder: #E5E5E5;
  --cardShadow: rgba(255, 201, 79, 1);
  --backgroundBtnLight: #EFEFEF;
  --backgroundBtnDark: #3D4F64;
  --colorBtnLight: #535353;
  --errorBtn: #dc2626;
  --skeletonLight: #fdf4f4;
  --skeletonDark: #E5E5E5;

  --table: 768px;
  --content: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
}

body {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: var(--content);
}

path {
  fill: inherit;
  stroke: inherit;
}