.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.photo {
  overflow: hidden;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}