.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.photo {
  background: url('../../../shared/assets/photo/author.jpg') center -30px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
